body{
    margin: 0%;
}

header{
    background-image: url(../img/pattern.png);
    background-color:#4d9fff ;
    background-size: 400px;
    height: 100px;

}

.logo{
    width: 150px;
    margin-top: 60px;
}

h1{
    font-size: 48px;
}

.booleaners{
    color: #16a4e3;
}

.main{
    color: #7e7e7e;
}

.Lorem{
    background-color: yellow;
}

.tablerow{
    background-color: #4d9fff;
}

.tablerow2{
    background-color: #16a4e3;
}

.col1,.col2{
    width: 25%;
}
.col3{
    width: 50%;
}
h3{
    color: #7e7e7e;
}

.info1{
    color: #7e7e7e;
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    height: 200px;
    padding: 10px;
    
}

.info2{
    color: #7e7e7e;
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    height: 200px;
    padding: 10px;
    
}